---
BasedOnStyle: LLVM
Standard: c++17
IndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
IncludeBlocks: Preserve
PointerAlignment: Left
DerivePointerAlignment: false
Cpp11BracedListStyle: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: LF
...
